input[type="file"]::-webkit-file-upload-button {
  background: var(--barclays-cerulean);
  color: var(--barclays-white);
  border: none;
  border-radius: 6px;
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 8px #00395d33;
  transition: background 0.2s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: var(--barclays-astronaut);
  color: var(--barclays-cerulean);
}

body {
  color: var(--barclays-black);
  background: var(--barclays-white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  color: var(--barclays-astronaut);
  font-size: 2.8rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
}


h2,
h3,
h4 {
  color: var(--barclays-cerulean);
}

p,
li {
  color: var(--barclays-white);
}